*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    height: 100vh;
    background-color: #567;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-palavras-portugues , .container-palavras-ingles{
    padding: 10px;

}

.container-palavras-ingles li{
    color: yellow;
    background-color: brown;
}
.container-palavras-portugues li{
    color: rgb(20, 31, 47);
    background-color: rgb(77, 133, 190);
}
.container-palavras-portugues li , .container-palavras-ingles li{
    border-radius: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    display: block;
    margin: 10px;
    padding: 10px;
    border: solid 2px #fff;
  
}
.container-palavras-ingles li.hover{
    background-color: rgb(249, 192, 192);
}